/*
All classes used by this module use the prefix "pth" (PublicTransportHafas) to separate
them from the rest of the interface.
 */

.pthWrapper {
  position: relative;
}

.pthTable {
  display: table;
  border-collapse: collapse;
  border-spacing: 1px;
}

.pthTable > thead {
  text-align: left;
}

.pthTable td {
  vertical-align: middle;
}

.pthRulerCell {
  line-height: 0;
  border-spacing: 10px;
  border-bottom: 1px dotted #666;
}

.pthTextRight {
  text-align: right;
}

.pthDelayCell {
  font-size: 0.8em;
  font-weight: bolder;
}

.pthDirectionCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 26ch;
}

.pthHasDelay {
  color: red;
}

.pthIsTooEarly {
  color: green;
}

.pthMarquee {
  text-align: left;
  box-sizing: border-box;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.pthMarquee span {
  display: inline-block;
  white-space: nowrap;
  animation: pthMarquee 2s linear infinite alternate;
}

@keyframes pthMarquee {
  /* Two keyframe positions each to generate a little delay between animations. */
  0%, 30% {
    transform: translate(0%, 0);
  }
  95%, 100% {
    transform: translate(-20%, 0);
  }
}

/* Styles for line symbols. */
.pthSign {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;

  color: #666666;
  background-color: #333333
}

.pthBWLineSign {
  color: #666666;
  background-color: #333333;
}

/* Standards for Deutsche Bahn products. */
.pthDbStandard {
  font-size: 0.8em;
  line-height: 1.4em;
  border-radius: 5px;
}

.ice, .ic {
  color: #F01414;
  background-color: white;
  border-bottom: 4px #F01414 solid;
}

.rb, .re {
  color: white;
  background-color: #F01414;
  border: 0.5px white solid;
}

.ice:before {
  content: "ICE ";
}

.ic:before {
  content: "IC ";
}

.re:before {
  content: "RE ";
}

.rb:before {
  content: "RB ";
}